@import "bourbon"
@import "vars"

@media screen and (max-width: $desktop)
	.nav
		display: block








@media screen and (max-width: 992px)
	.tablet-hidden
		display: none









@media screen and (max-width: 768px)
	.nav
		display: block



@media screen and (max-width: 450px) //iPhone6
	.phone-hidden
		display: none



@media screen and (max-width: 320px) //iPhone5
	.nav
		display: none