@import "bourbon"
@import "vars"
@import "base"

.container
	max-width: 1186px
	margin: 0 auto

.mfp-close-btn-in .mfp-close
	display: none

/***************************** INDEX *********************/

#nav-icon1
	display: none
	width: 50px
	height: 40px
	position: absolute
	left: 15px
	top: 15px
	cursor: pointer

#nav-icon1 span 
	display: block
	position: absolute
	height: 6px
	width: 100%
	background: $red
	border-radius: 6px
	opacity: 1
	left: 0

#nav-icon1 span:nth-child(1)
	top: 0px

#nav-icon1 span:nth-child(2)
	top: 12px

#nav-icon1 span:nth-child(3)
	top: 24px
	
.phone-navigation
	transform: translate3d(-100%,0,0)
	transition: all .3s
	text-align: center
	background: rgba(209, 15, 38, .7)
	position: fixed
	width: 100%
	height: 100%
	z-index: 100
	overflow: scroll!important
	.soc
		display: inline-block
		a img
			width: 26px
			height: 25px
	ul
		min-width: 320px
		max-width: 600px
		margin: 0 auto
		padding: 50px 20px 20px 20px
	li
		a
			display: block
			margin: 3px 0
			padding: 10px 0
			background: rgba(0, 0, 0, .7)
			text-align: center
			font-family: $bebas-bold
			font-size: 25px
			line-height: 26px
			color: #fff
			&:hover
				background: rgba(255, 255, 255, .7)
				color: $red
	.close
		position: absolute
		top: 12px
		left: 23px
		display: block
		width: 30px
		height: 30px
		color: $red
		background: #fff
		border: 2px solid $red
		border-radius: 50%
		text-align: center
		line-height: 31px
		font-size: 30px
		font-weight: bold
		&:hover
			background: $red
			color: #fff
			border-color: #fff

/*nav*/
.nav
	position: relative
	z-index: 1
	margin-bottom: -120px



/*header*/
.header-wrapper
	background: #CF212A
.header
	//padding-bottom: 166px
	padding-bottom: 40px
	background: #CF212A url("../images/index_header_bg.jpg") top center no-repeat
	background-size: cover

.header__nav
	box-shadow: 0 5px 6px rgba(0,0,0,0.2)
	background: #fff


.header__logo
	width: 188px
	height: 165px
	background: url("../images/logo.png") center no-repeat
	margin-top: 20px
	margin-left: 25px
	position: absolute

.header__menu
	margin-left: 250px
	padding: 29px 34px 25px 0

	.social
		text-align: right
		ul
			overflow: hidden
		li
			float: right
			margin-left: 15px
		a
			display: inline-block
			width: 20px
			height: 20px

	.menu
		margin-top: 17px
		overflow: hidden
		ul
			overflow: hidden
		li
			float: left
			margin-right: 23px
			&:last-child
				margin-right: 0
		a
			font-family: $bebas-bold
			font-size: 25px
			line-height: 26px
			color: #000
			&:hover
				color: $red


.header__slider
	padding-top: 191px

.carousel__items
	max-width: 1607px
	margin: 0 auto
	.owl-pagination
		position: absolute
		right: 207px
		top: 735px

.owl-theme .owl-controls .owl-page span
	display: block!important
	width: 10px!important
	height: 10px!important
	border-radius: 50%!important
	border: 2px solid $black!important
	background: transparent!important
	opacity: 1!important
	margin: 5px 9px 5px 7px!important

.owl-theme .owl-controls .owl-page.active span
	background: $black!important
	opacity: 1!important

.carousel__item
	padding-bottom: 118px

.slider__items
	position: relative

.slider__item
	position: relative

	.main-img
		position: absolute
		z-index: 1
		left: -134px
		top: -59px

	.shop-img
		margin-top: 25px
		margin-right: -13px
		max-width: 430px
		display: block
		float: right

	.text
		max-width: 393px
		font-family: $archer-bold
		float: right
		padding-right: 44px
		margin-top: 109px
		margin-bottom: 28px
		h5
			text-align: center
			line-height: 20px
			span
				font-size: 16px
				color: #fff
				line-height: 16px

	.action-button
		background: $black
		color: #fff
		font-family: $archer-bold
		text-align: right
		position: relative
		p
			padding-right: 99px
			padding-top: 18px
			padding-bottom: 18px
			display: inline-block
			font-size: 25px
			line-height: 31px
			text-align: left
			text-transform: uppercase
			span
				font-size: 31px

		img
			position: absolute
			top: 21px
			right: -39px
/* end header*/

/*our history */
#ourhistory
	background: #3B3C37 url("../images/index_ourhistory_bg.jpg") top center no-repeat
	background-size: 100%
	margin-top: -75px
	margin-left: auto
	margin-right: auto
	padding: 107px 0 140px 0

	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 98px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $red
			top: 58px

.history
	max-width: 1078px
	margin: 0 auto
	overflow: hidden

.history__items
	overflow: hidden

.history__item
	width: 126px
	float: left
	margin-right: 112px
	&:last-child
		margin-right: 0
		.image-cap:after
			display: none


.image-cap
	background: url("../images/icons/cap.png") center no-repeat
	background-size: 100%
	width: 120px
	height: 120px
	position: relative
	margin-bottom: 14px
	cursor: pointer
	&:after
		display: block
		content: ''
		background: url("../images/icons/ourhistory_line.png") center no-repeat
		width: 115px
		height: 12px
		position: absolute
		right: -115px
		top: calc(50% - 6px)

	img
		max-width: 70px
		max-height: 52px
		display: block
		padding-top: calc(50% - 26px)
		margin-left: auto
		margin-right: auto
		line-height: 126px


.image-cap.back
	background: url("../images/icons/cap_back.png") center no-repeat
	background-size: 100%
	p
		text-align: center
		font-family: $archer-medium
		font-size: 25px
		line-height: 26px
		padding-top: calc(50% - 13px)

.history__caption p
	text-align: center
	font-family: $archer-medium
	font-size: 25px
	line-height: 26px
	color: #fff
	position: relative

	
.history__content
	.arrow
		background: url("../images/icons/our_history_arrow_down.png") top center no-repeat
		width: 100px
		height: 125px
		margin-left: 22px
		margin-top: -76px
		float: left

	.content__item
		margin-top: 53px
		margin-left: 5px
		padding-bottom: 10px
		overflow: hidden
		transition: all ease .3s
		display: none

		.item__icon
			max-width: 116px
			display: inline-block
			border-bottom: 13px solid $red
			padding: 0 13px 0 13px
			margin-left: 3px
			float: left
			img
				max-width: 90px
				text-align: center
				margin-left: 0
				margin-bottom: 18px

		.item__text
			max-width: 641px
			padding-left: 60px
			float: left
			p
				font-family: $archer-book
				font-size: 20px
				line-height: 25px
				color: #fff
				b
					font-family: $archer-bold
					color: $red

/*end our history */


/*our market */
#ourmarket
	background: #31508f url("../images/index_ourmarket_bg.jpg") top center no-repeat
	background-size: cover
	margin-left: auto
	margin-right: auto
	padding: 93px 0 190px 0
	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 28px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $dark-blue
			top: 58px

	.owl-pagination,
	.owl-buttons,
	.owl-pagination
		display: none

	.slider
		position: relative
		max-width: 1222px
		margin: 0 auto

		//.owl-controls.clickable
			//overflow: hidden
			//transform: skewY(3.7deg)

		/*.owl-prev*/
		.left-btn
			position: absolute
			display: block
			top: calc(50% + 9px)
			left: 0px
			width: 28px
			height: 46px
			background: url("../images/icons/arrow_left.png") no-repeat
			background-size: 100%!important
			cursor: pointer


		/*.owl-next*/
		.right-btn
			position: absolute
			display: block
			top: calc(50% + 9px)
			right: 0px
			width: 28px
			height: 46px
			background: url("../images/icons/arrow_right.png") no-repeat
			background-size: 100%!important
			cursor: pointer

	.slider__items
		max-width: 1186px
		margin: 0 auto

	.slider__item
		padding-top: 70px

	.slider__map
		float: left
		width: 50%
		margin-top: -12px

	.slider__info-wrap
		float: right
		width: 50%

	.slider__info
		max-width: 390px
		margin-left: 46px
		margin-top: -30px
		padding: 50px 50px 50px 45px
		background: #090f1a
		border-top: 63px solid $dark-blue
		position: relative
		h4
			color: $red
			font-family: $archer-bold
			font-size: 28px
			padding-left: 5px
			padding-bottom: 30px
		p
			font-family: $archer-bold
			color: #fff
			font-size: 25px
			line-height: 16px
			span
				font-size: 15px
				font-family: $archer-medium
		.logo
			width: 100px
			position: absolute
			top: -100px
			left: 55px
			
		.tr
			display: table-row

			.td
				vertical-align: top
				display: table-cell
				padding-bottom: 19px
				&:last-child
					padding-left: 25px

		.icon
			width: 44px
			height: 41px

/*end our market */




/* news */
#news
	background: #D1242A url("../images/index_news_bg.jpg") bottom center no-repeat
	background-size: 100%
	margin-top: -90px
	padding: 203px 0 50px 0
	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 98px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $dark-blue
			top: 58px
			
.news
	.news__item
		padding: 0 18px
		width: 29.595%
		float: left
		margin-left: 10px
		&:first-child
			margin-left: 0

	.news__img
		text-align: center
		margin-bottom: 39px
		max-height: 175px
		overflow: hidden

	.news__text
		text-align: center
		color: #fff
		font-family: $archer-book
		margin-bottom: 42px
		h3
			text-transform: none
			font-family: $archer-bold
			margin-bottom: 7px
		p
			line-height: 18px

	.news__action
		padding-right: 30px
		a
			display: block
			width: 70px
			height: 70px
			background: url("../images/icons/cap_arrow_right.png") center no-repeat
			background-size: cover
			margin: 0 auto

	.readall
		display: block
		width: 390px
		margin: 40px auto 5px auto
		text-align: center
		font-family: $archer-bold
		text-transform: uppercase
		font-size: 30px
		padding: 25px 0
		background: #fff
		color: $red
		letter-spacing: -1px
		&:hover
			background: $blue
			color: #fff

/*end news */


/*footer*/
#footer
	background: #000
	padding: 48px 0 50px 0
	z-index: 2
	position: relative

.footer
	position: relative
	text-align: center

	.logo
		width: 170px
		position: absolute
		top: -98px
		left: 112px

	.navigation
		padding-left: 60px
		display: inline-block
		position: relative
		z-index: 2

		ul
			overflow: hidden
		li
			float: left
			margin-right: 25px
			a
				color: #fff
				font-family: $bebas-bold
				font-size: 24px
				line-height: 26px
				&:hover
					color: $red

	.social
		position: absolute
		right: 137px
		top: 0
		a
			margin-right: 10px
			img
				width: 26px
				height: 25px
			&:last-child
				margin-right: 0

/*end footer*/

/************************* BRANDS *********************/
.header.our_brands
	padding-bottom: 196px

.header
	h2
		padding-top: 177px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 76px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $black
			bottom: -25px

	.header__caption
		overflow: hidden
		height: 250px

	.caption__img
		height: 100%
		width: 50%
		float: left
		img
			height: 100%
			width: 100%


	.caption__text
		height: 100%
		width: calc(50% - 180px)
		color: #fff
		float: left
		background: $yellow
		padding: 44px 90px
		p
			letter-spacing: -1px
			font-family: $archer-semibold
			font-size: 33px
			line-height: 38px
			max-width: 396px


#brands
	margin-top: -90px
	position: relative
	background-image: url("../images/brands_bg_top.jpg"), url("../images/brands_bg_bottom.jpg")
	background-position: top center, bottom center
	background-color: #fff
	background-size: 100%
	padding-bottom: 53px

	.types
		position: relative
		top: -42px
		background: $yellow
		margin-bottom: 50px
		ul
			overflow: hidden
			li
				float: left
				font-size: 35px
				line-height: 35px
				font-family: $archer-bold
				&:last-child
					margin-right: 0
		a
			display: block
			padding: 35px 33px
			color: #fff
			text-transform: uppercase
			&:hover
				background: $blue
			&.active
				background: $blue

	.brands
		a
			display: inline-block
			margin-right: 46px
			vertical-align: middle
			&:last-child
				margin-right: 0
			img
				filter: grayscale(100%)
				max-width: 200px
				float: left
		.row
			margin-bottom: 110px
			&:last-child
				margin-bottom: 40px

#beer-popup
	position: relative
	width: 100%
	height: 100%
	z-index: 999

	.beer-popup__body
		background: #fff
		max-width: 1030px
		margin: 70px auto 0 auto
		position: relative
		min-height: 758px
		display: -webkit-flex
		display: flex

	h2
		padding: 30px 130px
		background: $yellow
		color: #fff
		display: inline-block
		position: absolute
		top: -60px
		left: 37.09%

	h5
		font-family: $bebas-bold
		font-size: 25px
		line-height: 25px
		display: block
		width: 100%
		text-align: center
		margin-top: -25px
		height: 25px

	a.close-popup
		position: absolute
		right: 23px
		top: 15px

	a.buynow
		display: inline-block
		text-align: center
		padding: 0 60px
		font-size: 35px
		line-height: 79px
		height: 79px
		color: #fff
		font-family: $archer-bold
		background: $red
		border-radius: 10px
		text-transform: uppercase
		margin: -5px auto 0 auto

	.body__carousel-wrapper
		width: 37.08%
		float: left
		background-repeat: no-repeat
		background-size: 140%
		background-position: center center
		display: -webkit-flex
		display: flex
		flex-wrap: wrap

	.carousel-overlay
		display: -webkit-flex
		display: flex
		flex-wrap: wrap
		width: 100%
		background: rgba(255, 255, 255, .8)

	.body__carousel
		text-align: center
		padding-top: 75px
		width: 100%

	.owl-pagination
		display: none

	.owl-prev
		background: url("../images/icons/popup_carousel_arrow_left.png") center no-repeat
		background-size: 50%
		height: 38px
		width: 22px
		opacity: 1
		position: absolute
		left: 0
		top: calc(50% + 10px)

	.owl-next
		background: url("../images/icons/popup_carousel_arrow_right.png") center no-repeat
		background-size: 50%
		height: 38px
		width: 22px
		opacity: 1
		position: absolute
		right: 0
		top: calc(50% + 10px)

	.body__info
		width: 62.913%
		float: left
		padding: 65px

		img
			display: block
			margin: 5px auto 40px auto
			max-height: 115px

		h3
			font-family: $bebas-bold
			text-transform: uppercase
			font-size: 40px
			line-height: 45px

		h4
			font-family: $bebas-bold
			text-transform: uppercase
			color: #cdcdcd
			font-size: 34px
			line-height: 34px
			margin-bottom: 30px

		p
			font-family: $archer-book
			font-size: 20px
			line-height: 22px

		ul
			margin-top: 35px
			li
				span
					text-transform: uppercase
					font-size: 14px
					line-height: 18px
					color: $red
					font-family: "Open Sans", sans-serif
					font-weight: bold

				p
					display: inline-block
					font-size: 14px
					line-height: 18px

/*********************************NEWS******************************/
#newsandmedia
	padding: 203px 0 50px 0
	background-image: url("../images/news_bg_top.jpg"), url("../images/news_bg_bottom.jpg")
	background-position: top center, bottom center
	background-repeat: no-repeat, no-repeat
	background-color: #D1242A
	background-size: 100%

	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 73px
		margin-top: -23px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $black
			bottom: -25px

	.filter
		margin-left: -16px
		margin-bottom: 78px
		ul
			overflow: hidden
			li
				float: left
				margin-right: 10px

		a
			display: inline-block
			font-family: $bebas-bold
			font-size: 25px
			text-align: center
			line-height: 40px
			padding: 1px 20px 0 20px
			color: #fff
			&:hover
				background: $black

		a.active
			background: $black

	.news .news__img
		margin-bottom: 29px

	.news .news__text
		margin-bottom: 20px

	.row
		margin-bottom: 37px

	.readall
		margin-top: 110px
		margin-bottom: 55px

	.video-preview
		position: relative

	.video-play
		position: absolute
		display: block
		left: 50%
		margin-left: -82px
		width: 190px
		height: 190px
		cursor: pointer
		background: url("../images/icons/play_video.png") center no-repeat

	.news__open
		overflow: hidden
		margin-bottom: 104px
		
	.news__open-text
		float: left
		max-width: calc(50% - 10px)

		h1
			font-family: $archer-bold
			color: #fff
			text-transform: none
			padding-bottom: 37px
		p
			padding-left: 3px
			margin-bottom: 25px
			font-family: $archer-semibold
			font-size: 23px
			line-height: 25px
			color: #fff

	.news__open-img
		width: 50%
		float: right
		padding-top: 70px
		img
			float: right


/****************************** CSR *****************************/
#csr
	padding: 200px 0 310px 0
	background-image: url("../images/csr_bg_top.jpg"), url("../images/news_bg_bottom.jpg")
	background-position: top center, bottom center
	background-repeat: no-repeat, no-repeat
	background-color: #D1242A
	background-size: 100%
	h2
		font-size: 35px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 73px
		margin-top: -23px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $black
			bottom: -25px

	.csr__open
		overflow: hidden
		margin-bottom: 95px
		margin-top: 92px

	.csr__open-text
		float: left
		max-width: calc(50% - 10px)

		h1
			font-family: $archer-bold
			color: #fff
			text-transform: none
			padding-bottom: 37px
			line-height: 52px

		p
			padding-left: 3px
			margin-bottom: 25px
			font-family: $archer-semibold
			font-size: 23px
			line-height: 25px
			color: #fff

	.csr__open-img
		width: 50%
		float: right
		padding-top: 85px
		img
			float: right

	.news .news__img
		margin-bottom: 30px

	.news .news__text
		margin-bottom: 20px



/********************************** ABOUT US ***************************/
.aboutus_page .header
	padding-bottom: 100px
	background: #CF212A url("../images/about_us_bg.jpg") top center no-repeat
	background-size: cover

#ourmarket.aboutus_page
	padding-bottom: 220px
	margin-bottom: -65px

.aboutus_page

	.content
		margin-top: 122px

		p
			padding-left: 5px
			color: #fff
			font-size: 23px
			line-height: 28px
			font-family: $archer-bold
			margin-bottom: 26px

	.coverage
		text-align: center
		margin-top: 43px
		margin-bottom: 110px
		margin-left: -50px
		p
			font-size: 32px
			line-height: 65px
			position: relative
			text-transform: uppercase
			color: #fff
			font-family: $archer-bold
			text-align: center
			margin-bottom: 0
			display: inline-block
			&.coverage__item1
				padding: 0 84px
				background: url("../images/icons/coverage_icon1.png") right no-repeat
			&.coverage__item2
				padding: 0 84px
				background: url("../images/icons/coverage_icon2.png") left no-repeat
			&.coverage__item3
				padding: 0 84px
				background: url("../images/icons/coverage_icon3.png") right no-repeat
			&.coverage__item4
				padding: 0 84px
				background: url("../images/icons/coverage_icon4.png") left no-repeat


#whatwedo
	background: #3B3B39 url("../images/what_we_do_bg.jpg") top center no-repeat
	background-size: 100%
	margin-top: -90px
	padding-bottom: 70px

	h2
		padding-top: 120px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 76px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $red
			bottom: -25px

	.whatwedo__caption
		overflow: hidden
		height: 250px

	.caption__img
		height: 100%
		width: 50%
		float: left
		img
			height: 100%
			width: 100%


	.caption__text
		height: 100%
		width: calc(50% - 180px)
		color: #fff
		float: left
		background: $red
		padding: 44px 90px
		p
			letter-spacing: -1px
			font-family: $archer-semibold
			font-size: 33px
			line-height: 38px
			max-width: 396px

	.content
		margin-top: 122px
		p
			padding-left: 5px
			color: #fff
			font-size: 23px
			line-height: 28px
			font-family: $archer-bold
			margin-bottom: 26px

	.coverage
		text-align: center
		margin-top: 43px
		p
			font-size: 32px
			line-height: 65px
			position: relative
			text-transform: uppercase
			color: #fff
			font-family: $archer-bold
			text-align: center
			margin-bottom: 0
			display: inline-block
			span
				text-transform: none
				font-family: $archer-book

/*********************************** CAPABILITIES *****************************/
.capabilities_page .header
	padding-bottom: 100px
	background: #D1242A url("../images/capabilities_header_bg.jpg") top center no-repeat
	background-size: 100%

.capabilities_page
	padding-bottom: 30px
	.content
		margin-top: 106px

		p
			padding-left: 5px
			color: #fff
			font-size: 23px
			line-height: 26px
			font-family: $archer-bold
			margin-bottom: 26px

		h1
			text-transform: none

		h2
			text-transform: none
			padding-top: 24px
			&:after
				display: none

		h4
			font-size: 30px
			padding-top: 15px
			color: #fff

	.coverage
		text-align: center
		margin-top: 35px
		p
			font-size: 30px
			line-height: 50px
			position: relative
			text-transform: uppercase
			color: #fff
			font-family: $archer-book
			text-align: center
			margin-bottom: 0
			display: inline-block
			span
				text-transform: none
				font-family: $archer-book

#whatweprovide
	background: #3B3B39 url("../images/what_we_do_bg.jpg") top center no-repeat
	background-size: 100%
	margin-top: -90px
	padding-bottom: 80px

	h2
		padding-top: 120px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 76px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $red
			bottom: -25px

	.whatweprovide__caption
		overflow: hidden
		height: 250px

	.caption__img
		width: 50%
		float: left
		img
			height: 100%
			width: 100%


	.content
		margin-top: 76px

		h2
			padding: 0
			margin: 0
			&:after
				display: none


		h3
			font-size: 45px
			line-height: 45px
			text-transform: none
			color: #fff
			padding: 26px 0

		h4
			font-size: 30px
			line-height: 40px
			text-transform: none
			color: #fff
			font-family: $archer-book

		p
			padding-left: 5px
			color: #fff
			font-size: 23px
			line-height: 28px
			font-family: $archer-bold
			margin-bottom: 26px

		ul
			margin-top: 30px
			margin-bottom: 30px
			p
				font-family: $archer-book
				font-size: 27px
				line-height: 30px
				margin-bottom: 8px



#wheregoing
	background: #2D4A82 url("../images/capabilities_blue_bg.jpg") top center no-repeat
	background-size: 100%
	padding-bottom: 145px
	margin-bottom: -70px

	h2
		padding-top: 120px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 76px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $red
			bottom: -25px

	.wheregoing__caption
		overflow: hidden
		height: 250px

	.caption__img
		width: 50%
		float: left
		img
			height: 100%
			width: 100%

	.content
		margin-top: 76px
		font-family: $archer-bold
		color: #fff

		.img-box
			max-height: 250px
			overflow: hidden
			text-align: center
			margin: 85px 0

		h2
			padding: 0
			margin: 0
			&:after
				display: none


		h3
			font-size: 45px
			line-height: 45px
			text-transform: none
			color: #fff
			padding: 26px 0

		h4
			font-size: 30px
			line-height: 40px
			text-transform: none
			color: #fff
			font-family: $archer-book

		p
			padding-left: 5px
			color: #fff
			font-size: 23px
			line-height: 28px
			font-family: $archer-bold
			margin-bottom: 26px

		p.head
			margin-top: -10px
			font-size: 35px
			line-height: 45px
			text-align: center

		a
			color: #fff
			text-decoration: underline

		ul
			margin-top: 30px
			margin-bottom: 30px
			p
				font-family: $archer-book
				font-size: 27px
				line-height: 30px
				margin-bottom: 8px



#store
	padding: 203px 0 50px 0
	background-image: url("../images/news_bg_top.jpg"), url("../images/news_bg_bottom.jpg")
	background-position: top center, bottom center
	background-repeat: no-repeat, no-repeat
	background-color: #D1242A
	background-size: 100%
	position: relative

	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 73px
		margin-top: -23px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $black
			bottom: -25px

	.filter
		margin-left: -16px
		margin-bottom: 56px
		overflow: hidden
		ul
			float: left
			overflow: hidden
			li
				float: left
				margin-right: 10px

		a
			display: inline-block
			font-family: $bebas-bold
			font-size: 25px
			text-align: center
			line-height: 40px
			padding: 1px 20px 0 20px
			color: #fff
			&:hover
				background: $black

		a.active
			background: $black

	.brands-select
		position: relative
		float: right

		select
			display: block
			width: 275px
			font-family: $bebas-bold
			font-size: 25px
			line-height: 25px
			padding: 9px 45px 6px 15px
			border: none
			background: #fff url("../images/icons/select-icon.jpg") top right no-repeat
			-webkit-user-select: none
			-moz-user-select: -moz-none
			-ms-user-select: none
			user-select: none
			/* hide select triangle */
			-webkit-appearance: none
			-moz-appearance: radio-container
			appearance: none

			option
				width: 275px
				font-family: $bebas-bold
				font-size: 25px
				line-height: 25px
				padding: 3px 20px 3px 13px

	.cart-wrapper
		float: right
		position: relative

	.cart-preview
		position: absolute
		top: -102px
		right: 0
		width: 135px
		z-index: 3

		.cart-preview__icon
			width: 50px
			float: left
			img
				width: 50px
				height: 55px

		.cart-preview__info
			//display: none
			float: right
			width: 65px
			position: relative
			text-align: center
			padding-right: 6px
			cursor: pointer
			span
				margin-top: -35px
				display: block
				width: 65px
				height: 65px
				background: $black
				border-radius: 50%
				color: #fff
				font-family: $bebas-bold
				text-align: center
				font-size: 35px
				line-height: 65px
			p
				font-family: $bebas-bold
				font-size: 25px
				line-height: 35px

	.cart__actions
		overflow: hidden
		padding-top: 15px

	.cart__action
		display: block
		width: calc(50% - 7px)
		font-family: $bebas-bold
		font-size: 25px
		color: #fff
		text-align: center
		padding: 29px 0 22px 0
		&:hover
			background: $blue
		&--red
			float: left
			background: $red
		&--black
			float: right
			background: $black

	.cart__total
		overflow: hidden
		padding: 24px 0 0 25px
		margin-bottom: 16px
		
		.cart__total-heading
			float: left
			p
				font-family: $bebas-bold
				font-size: 25px
				color: $red
				span
					font-family: Arial, sans-serif
					font-size: 14px
					color: $black

		.cart__total-price
			float: right
			margin-top: -2px
			padding: 0 66px 0 0
			p
				float: right
				font-size: 25px
				color: $red
				font-family: Arial, sans-serif
				font-weight: bold



.cart
	margin-top: -18px
	background: rgba(208, 45, 42, 0.8)
	width: 100%
	height: 100%
	position: absolute
	z-index: 1

	.cart-wrapper
		position: relative

	.cart__body
		padding: 25px
		background: #fff
		position: absolute
		right: 0
		top: 80px
		min-width: 500px

	.cart__empty
		padding: 30px
		display: none
		p
			font-family: $bebas-bold
			font-size: 45px
			line-height: 55px
			text-align: center
			color: $red
			
	.cart__table
		border-bottom: 1px solid $red

		.cart__item
			margin-bottom: 12px

		.table
			display: table
			width: 100%

		.tr
			display: table-row

			.th
				display: table-cell
				font-family: $archer-bold
				font-size: 20px
				text-transform: uppercase
				color: $red
				padding-bottom: 24px
				&:first-child
					min-width: 105px
					max-width: 105px
				&:nth-child(2)
					max-width: 264px
					min-width: 264px
				&:nth-child(3)
					width: 173px
				&:last-child
					padding-right: 50px

			.td
				padding: 10px 0
				display: table-cell
				min-width: 1%
				vertical-align: middle
				background: #f3f3f3
				position: relative
				&:first-child
					min-width: 105px
				&:nth-child(2)
					min-width: 264px
				&:last-child
					padding-right: 65px

	.delete
		display: block
		position: absolute
		right: -10px
		top: -10px
		width: 42px
		height: 42px
		background: url("../images/icons/close.png") center no-repeat

	.td .img-box
		text-align: center
		max-width: 80px
		img
			max-height: 105px

	.qty-wrap
		padding-right: 106px
		select
			display: inline-block
			float: left
			width: 69px
			font-family: Arial, sans-serif
			font-size: 18px
			line-height: 33px
			padding: 0 0 0 46px
			text-align: center
			border: 1px solid $black
			background: #fff url("../images/icons/select_count_icon.png") top left no-repeat
			-webkit-user-select: none
			-moz-user-select: -moz-none
			-ms-user-select: none
			user-select: none
			/* hide select triangle */
			-webkit-appearance: none
			-moz-appearance: radio-container
			appearance: none

			option
				width: 69px
				font-family: Arial, sans-serif
				font-size: 18px
				line-height: 33px
				padding: 3px 20px 3px 13px

	.info-block h3
		font-family: $bebas-bold
		font-size: 25px
		padding-top: 10px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		max-width: 255px

	.info-block p
		font-family: Arial, sans-serif
		font-size: 15px
		text-transform: uppercase
		padding-bottom: 8px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		max-width: 255px

	.td .price
		font-size: 25px
		color: $red
		font-family: Arial, sans-serif
		font-weight: bold

.store
	.label
		width: 152px
		color: #fff
		font-family: $archer-bold
		font-size: 17px
		background: #c5161d
		line-height: 48px
		text-align: center
		letter-spacing: -1px
		position: absolute
		left: 10px
		top: -19px

	.label.special
		background: $blue

	.label.new
		background: $yellow

	.row
		position: relative
		margin-left: -10px
		margin-right: -10px

	.store__item
		margin: 0 10px 34px 10px
		background: #fff
		width: calc(20% - 50px)
		padding: 0 15px 15px 15px
		float: left

	.info-block
		border-bottom: 1px solid $black

	.info-block__img
		max-width: 180px
		max-height: 230px
		display: table-cell
		width: 1%
		vertical-align: middle
		img
			display: block
			margin: 0 auto 0 auto

	.info-block h3
		font-family: $bebas-bold
		font-size: 25px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

	.info-block p
		font-family: Arial, sans-serif
		font-size: 15px
		color: $red
		padding-bottom: 8px

	.info-block span.volume
		font-family: Arial, sans-serif
		font-size: 15px
		color: $black
		padding-right: 10px

	.info-block span.price
		font-family: Arial, sans-serif
		font-weight: bold
		color: $red
		padding-left: 10px

	.actions-block
		padding-top: 15px
		overflow: hidden
		select
			display: inline-block
			float: left
			width: 69px
			font-family: Arial, sans-serif
			font-size: 18px
			line-height: 32px
			padding: 0 0 0 46px
			text-align: center
			border: 1px solid $black
			background: url("../images/icons/select_count_icon.png") top left no-repeat
			-webkit-user-select: none
			-moz-user-select: -moz-none
			-ms-user-select: none
			user-select: none
			/* hide select triangle */
			-webkit-appearance: none
			-moz-appearance: radio-container
			appearance: none

			option
				width: 69px
				font-family: Arial, sans-serif
				font-size: 18px
				line-height: 33px
				padding: 3px 20px 3px 13px

		a
			float: right
			display: block
			width: 107px
			height: 34px
			background: url("../images/icons/tocard_button.png") center no-repeat

.special-offer
	margin: 50px 0 110px 0
	max-height: 250px

	.text-block
		background: #000
		width: 50%
		float: left
		height: 250px
		text-align: center
		p
			padding-top: 35px
			font-family: $archer-semibold
			color: #fff
			text-align: center
			font-size: 35px
			line-height: 35px
			max-width: 400px
			margin: 0 auto
			position: relative
			display: block

		.red
			color: $red
			text-transform: uppercase
			font-family: $archer-bold

		span.buynow
			font-size: 55px
			line-height: 40px
			color: #fff
			text-align: center
			margin: 0 auto
			font-family: $archer-bold
			text-transform: uppercase
			border-top: 4px solid #fff
			display: inline-block
			margin-top: 13px
			padding: 15px 10px

	.store-block
		width: 50%
		height: 250px
		float: left
		background: #fff

		img
			max-width: 290px
			max-height: 315px
			width: 100%
			margin: -30px 10px 0 60px

		.actions-block
			float: right
			margin-right: 20px
			margin-top: 145px
			select
				margin-right: 15px



/***********************************CONTACT-US*****************************/
#contacts
	padding-top: 40px
	padding-bottom: 125px

	.content
		overflow: hidden
		p
			color: #fff
			font-family: $archer-bold
			font-size: 23px
			line-height: 50px
			b
				color: $black
				font-weight: normal
				font-family: $archer-bold

	.left-box
		float: left
		width: 50%

	.right-box
		padding-left: 117px
		float: right
		width: calc(50% - 117px)

#contacts-form
	margin-top: -100px
	padding: 106px 0 87px 0
	background-image: url("../images/contacts-form-bg.jpg")
	background-color: #fff
	background-repeat: no-repeat
	background-position: bottom
	background-size: 100%
	.form-wrapper
		max-width: 442px
		margin: 0 auto
	form
		text-align: center
	input, textarea
		color: $black
		border: 2px solid #a6a6a6
		font-family: $archer-bold
		font-size: 23px
		height: 53px
		padding: 0
		margin-bottom: 23px
		text-align: center
		width: calc(100% - 4px)
		&::-webkit-input-placeholder
			color: $black
		&::-moz-placeholder
			color: $black
		&:-moz-placeholder
			color: $black
		&:-ms-input-placeholder
			color: $black
		&:focus
			&::-webkit-input-placeholder
				color: #a6a6a6
			&::-moz-placeholder
				color: #a6a6a6
			&:-moz-placeholder
				color: #a6a6a6
			&:-ms-input-placeholder
				color: #a6a6a6

	textarea
		height: 212px
		padding-top: 13px

	input[type=submit]
		border: none
		background: $yellow
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 216px
		height: auto
		margin-top: 20px
		padding: 19px 0
		cursor: pointer
		&:hover
			background: $blue


/*********************************CAREERS********************************/
.header.careers
	padding-bottom: 166px


#careers
	padding: 200px 0 310px 0
	background-image: url("../images/csr_bg_top.jpg"), url("../images/news_bg_bottom.jpg")
	background-position: top center, bottom center
	background-repeat: no-repeat, no-repeat
	background-color: #D1242A
	background-size: 100%
	h2
		font-size: 35px
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 73px
		margin-top: -23px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $black
			bottom: -25px

	.header__caption
		height: 250px

	.caption__img
		position: relative
		height: 100%
		width: 50%
		float: left
		img
			height: 100%
			width: 100%
		.logo
			position: absolute
			right: 20px
			top: 27px
			width: 318px
			height: 277px

	.caption__text
		overflow: hidden
		height: 250px
		width: 50%
		color: #fff
		float: left
		background: $black

		p
			padding: 47px 90px 0 60px
			letter-spacing: -1px
			font-family: $archer-semibold
			font-size: 33px
			line-height: 39px
			max-width: 400px

.careers
	padding-top: 79px

.careers__item
	padding: 45px 0
	border-top: 1px solid $yellow
	overflow: hidden
	position: relative

	.careers__text-block
		float: left
		width: 100%
		h3
			text-transform: none
			font-size: 36px
			padding-bottom: 18px

		p
			width: 50%
			font-family: $archer-bold
			color: #fff
			font-size: 22px
			line-height: 25px
			&:nth-child(2n-1)
				padding-bottom: 23px
			span
				color: $black

	//.button-block
	//	float: right
	//	//overflow: hidden
	//	width: 50%
	//	position: relative

	.learnmore,
	.applynow
		display: block
		border: none
		background: $yellow
		color: #fff
		text-transform: uppercase
		text-align: center
		width: 216px
		height: auto
		margin-top: 20px
		padding: 25px 0
		font-family: $archer-bold
		font-size: 23px
		position: absolute
		right: 144px
		bottom: 74px
		
	.applynow
		background: $black


@import "media"