@import "bourbon"
@import "vars"
@import "base"

.container
	max-width: 1186px
	margin: 0 auto


#nav-icon1
	display: none
	width: 50px
	height: 40px
	position: absolute
	left: 15px
	top: 15px
	cursor: pointer

#nav-icon1 span 
	display: block
	position: absolute
	height: 6px
	width: 100%
	background: $red
	border-radius: 6px
	opacity: 1
	left: 0

#nav-icon1 span:nth-child(1)
	top: 0px

#nav-icon1 span:nth-child(2)
	top: 12px

#nav-icon1 span:nth-child(3)
	top: 24px
	
.phone-navigation
	transform: translate3d(-100%,0,0)
	transition: all .3s
	background: rgba(209, 15, 38, .7)
	position: fixed
	width: 100%
	height: 100%
	z-index: 100
	ul
		min-width: 320px
		max-width: 600px
		margin: 0 auto
		padding: 20px
	li
		a
			display: block
			margin: 3px 0
			padding: 10px 0
			background: rgba(0, 0, 0, .7)
			text-align: center
			font-family: $bebas-bold
			font-size: 25px
			line-height: 26px
			color: #fff
			&:hover
				background: rgba(255, 255, 255, .7)
				color: $red
	.close
		position: absolute
		top: 12px
		left: 23px
		display: block
		width: 30px
		height: 30px
		color: $red
		background: #fff
		border: 2px solid $red
		border-radius: 50%
		text-align: center
		line-height: 31px
		font-size: 30px
		font-weight: bold
		&:hover
			background: $red
			color: #fff
			border-color: #fff

/*header*/
.header-wrapper
	background: #CF212A
.header
	padding-bottom: 166px
	background: #CF212A url("../images/index_header_bg.jpg") top center no-repeat
	background-size: cover

.header__nav
	box-shadow: 0 5px 6px rgba(0,0,0,0.2)
	background: #fff
	overflow: hidden

.header__logo
	width: 188px
	height: 165px
	background: url("../images/logo.png") center no-repeat
	margin-top: 20px
	margin-left: 25px
	position: absolute

.header__menu
	margin-left: 250px
	padding: 29px 34px 25px 0

	.social
		text-align: right
		ul
			overflow: hidden
		li
			float: right
			margin-left: 15px
		a
			display: inline-block
			width: 20px
			height: 20px

	.menu
		margin-top: 17px
		overflow: hidden
		ul
			overflow: hidden
		li
			float: left
			margin-right: 23px
			&:last-child
				margin-right: 0
		a
			font-family: $bebas-bold
			font-size: 25px
			line-height: 26px
			color: #000
			&:hover
				color: $red


.header__slider
	padding-top: 71px

.slider__items
	position: relative
	.pager
		position: absolute
		right: 0
		bottom: -55px
		ul
			overflow: hidden
		li
			float: left
			margin-right: 18px
			&:last-child
				margin-right: 3px
		a
			display: block
			width: 10px
			height: 10px
			border-radius: 50%
			border: 2px solid $black
			background: transparent
			&.active
				background: $black

.slider__item
	position: relative

	.main-img
		position: absolute
		z-index: 1
		left: -134px
		top: -59px

	.shop-img
		margin-top: 25px
		margin-right: -13px
		max-width: 430px
		display: block
		float: right

	.text
		max-width: 393px
		font-family: $archer-bold
		float: right
		padding-right: 44px
		margin-top: 109px
		margin-bottom: 28px
		h5
			text-align: center
			line-height: 20px
			span
				font-size: 16px
				color: #fff
				line-height: 16px

	.action-button
		background: $black
		color: #fff
		font-family: $archer-bold
		text-align: right
		position: relative
		p
			padding-right: 99px
			padding-top: 18px
			padding-bottom: 18px
			display: inline-block
			font-size: 25px
			line-height: 31px
			text-align: left
			text-transform: uppercase
			span
				font-size: 31px

		img
			position: absolute
			top: 21px
			right: -39px
/* end header*/

/*our history */
#ourhistory
	background: #3B3C37 url("../images/index_ourhistory_bg.jpg") top center no-repeat
	//background-size: cover
	height: 821px
	margin-top: -75px
	margin-left: auto
	margin-right: auto
	padding: 107px 0 130px 0

	h2
		text-align: center
		color: #fff
		position: relative
		margin-bottom: 98px
		&:after
			position: absolute
			left: 50%
			margin-left: -108px
			content: ""
			display: block
			width: 226px
			height: 6px
			background: $red
			top: 58px

.history
	max-width: 1078px
	margin: 0 auto
	overflow: hidden

.history__item
	width: 126px
	float: left
	margin-right: 112px
	&:last-child
		margin-right: 0
		.image-cap:after
			display: none


.image-cap
	background: url("../images/icons/cap.png") center no-repeat
	background-size: 100%
	width: 120px
	height: 120px
	position: relative
	margin-bottom: 18px
	&:after
		display: block
		content: ''
		background: url("../images/icons/ourhistory_line.png") center no-repeat
		width: 115px
		height: 12px
		position: absolute
		right: -115px
		top: calc(50% - 6px)

	img
		display: block
		padding-top: calc(50% - 26px)
		margin-left: auto
		margin-right: auto
		line-height: 126px


.image-cap.back
	background: url("../images/icons/cap_back.png") center no-repeat
	background-size: 100%
	p
		text-align: center
		font-family: $archer-medium
		font-size: 25px
		line-height: 26px
		padding-top: calc(50% - 13px)

.history__caption p
	text-align: center
	font-family: $archer-medium
	font-size: 25px
	line-height: 26px
	color: #fff


/*end our history */




//
//
//
//
//
//
//
//
//
//
@import "media"